<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>COAD STORE</title>

	<link rel="icon" href="/img/favicon.png">
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="/css/slick.css" />
	<link type="text/css" rel="stylesheet" href="/css/slick-theme.css" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="/css/nouislider.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="/css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/css/style.css" />
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
	<!-- HEADER -->
	<header>

		<div id="top-header">
			<div class="container">
				<!-- <ul class="header-links pull-left">
					<li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
					<li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
					<li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
				</ul> -->
				<ul class="header-links">
					<li><a href="#"><i class="fa fa-map-marker"></i><span id="location"></span></a></li>
				</ul>
			</div>
		</div>
		<!-- /TOP HEADER -->
		<div class="progress" style="margin: 0px;height: 5px;display: none;" >
			<div class="progress-bar progress-bar-striped" id="myBar" style="width:0%">
			</div>
		</div>
		<!-- MAIN HEADER -->

		<div id="header">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- LOGO -->
					<div class="col-md-3">
						<div class="header-logo">
							<a href="#" class="logo">
								<img src="/img/logo.png" alt="">
							</a>
						</div>
					</div>
					<!-- /LOGO -->

					<div id="coll-modal" class="modal fade" role="dialog">
						<div class="modal-dialog">
					  
						  <!-- Modal content-->
						  <div class="modal-content">
							<div class="modal-header">
							  <h4 class="modal-title">Select Your College</h4>
							</div>
							<div class="modal-body">

								<input class="input" autofocus autocomplete="off" id="search" placeholder="Select your college">
								<ul class="list-group col-12" style="position: absolute;z-index: 20;" id="searchResult"></ul>
								<div style="width: 100%;" class="text-center">
									<button class="search-btn" data-dismiss='modal' id="search-btn">Search</button>
								</div>

							</div>
						  </div>
					  
						</div>
					</div>
					<!-- SEARCH BAR -->
					<div class="col-md-6">
						<div class="college">
							<div class="college-name" id="pop-coll-modal" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#coll-modal">
								<span id="coll-data">-</span>  
								<span style="float: right;"><i class="fa fa-caret-down"></i></span>
							</div>
						</div>
					</div>
					<!-- /SEARCH BAR -->

					<!-- ACCOUNT -->
					<div class="col-md-3 clearfix">
						<div class="header-ctn">
							<!-- Login -->
							<div id="login">
								<a class="login-button" href="/auth/google">
									<i class="fa fa-google"></i>
									<span>Login</span>
								</a>
							</div>
							<!-- /Login -->

							<!-- Profile -->
							<div class="dropdown" id="profile">
								<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
									<img src="<%=user.picture%>"
										style='display: block; height: 40px;width: 40px;border-radius: 50%;'>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#">Profile</a></li>
									<li><a href="/api/logout">Logout</a></li>
								</ul>
							</div>
							<!-- /Profile -->

							<!-- Wishlist -->
							<div class="dropdown" id='wishlist'>
								<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
									<i class="fa fa-heart-o"></i>
									<span>Your Wishlist</span>
									<div class="qty"></div>
								</a>
								<div class="cart-dropdown">
									<div class="cart-list">
										
									</div>
								</div>
							</div>
							<!-- /Wishlist -->

							<!-- Menu Toogle -->
							<div class="menu-toggle">
								<a href="#">
									<i class="fa fa-bars"></i>
									<span>Menu</span>
								</a>
							</div>
							<!-- /Menu Toogle -->
						</div>
					</div>
					<!-- /ACCOUNT -->
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- /MAIN HEADER -->
	</header>
	<!-- /HEADER -->
	<!-- NAVIGATION -->
	<nav id="navigation">
		<!-- container -->
		<div class="container">
			<!-- responsive-nav -->
			<div id="responsive-nav">
				<!-- NAV -->
				<ul class="main-nav nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/store/electronics">Electronics & Appliances</a></li>
					<li><a href="/store/books">Books & Notes</a></li>
					<li><a href="/store/vehicles">Vehicles</a></li>
					<li class="active"><a href="/store/sports">Sports & Hobbies</a></li>
					<li><a href="/store/hotdeals">Hot Deals</a></li>
				</ul>
				<!-- /NAV -->
			</div>
			<!-- /responsive-nav -->
		</div>
		<!-- /container -->
	</nav>
	<!-- /NAVIGATION -->

	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb-tree">
						<li><a href="/">Home</a></li>
						<li><a href="#">All Categories</a></li>
						<li class="active">Sports And Hobbies</li>
					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->

	<!-- SECTION -->
	<div class="section" style="padding-top: 0px;">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- ASIDE -->
				<div id="aside" class="col-md-3" style="padding-bottom: 40px;">
					<form action="">
					<div class="aside">
						<h3 class="aside-title">Sory By</h3>
						<div class="store-filter clearfix">
							<div class="store-sort">
								<label>
									<select name="sort" class="input-select">
										<option value="0">Most Recent</option>
										<option value="1">Most Popular</option>
										<option value="2">Price low-high</option>
										<option value="3">Price high-low</option>
									</select>
								</label>
							</div>
						</div>
					</div>

					<!-- aside Widget -->
					<div class="aside">
						<h3 class="aside-title">Categories</h3>
						<div class="checkbox-filter">
							<div class="input-checkbox">
								<input name='sub_type' value="BOOKS" type="checkbox" id="category-1">
								<label for="category-1">
									<span></span>
									Books
								</label>
							</div>

							<div class="input-checkbox">
								<input name='sub_type' value="NOTES" type="checkbox" id="category-2">
								<label for="category-2">
									<span></span>
									Notes
								</label>
							</div>

							<div class="input-checkbox">
								<input name='sub_type' value="EXAM PAPERS" type="checkbox" id="category-3">
								<label for="category-3">
									<span></span>
									Exam Papers
								</label>
							</div>

							<div class="input-checkbox">
								<input name='sub_type' type="checkbox" value="OTHER" id="category-4">
								<label for="category-4">
									<span></span>
									Other
								</label>
							</div>
						</div>
					</div>
					<!-- /aside Widget -->
					</form>
					
					<button class="btn btn-info" id="apply-filter" style="float: right;margin: 15px;">Apply</button>
					<button class="btn btn-danger" id='cancel-filter' style="float: left;margin: 15px;">Cancel</button>

					<br>
				</div>
				<!-- /ASIDE -->

				<!-- STORE -->
				<div id="products" class="col-md-9">

					<div class="row store-products" style="margin-right: 0px; margin-left: 0px;padding: 2px;">
						<!-- product -->

						<!-- /product -->
					</div>
					<!-- /store products -->

					<!-- Show More -->
					<div class="showAllItems">
						<a id="show-more" class="showMoreButton">See More</a>
					</div>

					<!-- store bottom filter -->
					<div class="store-filter clearfix">
						<span class="store-qty">Showing <span id='store-qt'></span> of <span id="total-qt"></span> products</span>
					</div>
					<!-- /store bottom filter -->
				</div>
				<!-- /STORE -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- FOOTER -->
<footer id="footer">
	<!-- top footer -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-4 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">About Us</h3>
						<p>Buy and Sell things among the hostlers.</p>
						<ul class="footer-links">
							<li><a href="#"><i class="fa fa-map-marker"></i>National Institute of Technology patna</a></li>
							<li><a href="#"><i class="fa fa-phone"></i>+91-877-055-3001</a></li>
							<li><a href="#"><i class="fa fa-envelope-o"></i>yashjanoria999@gmail.com</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-4 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">Categories</h3>
						<ul class="footer-links">
							<li><a href="/store/hotdeals">Hot deals</a></li>
							<li><a href="/store/electronics">Laptops</a></li>
							<li><a href="/store/electronics">Smartphones</a></li>
							<li><a href="/store/electronics">Mobiles</a></li>
							<li><a href="/store/electronics">Accessories</a></li>
						</ul>
					</div>
				</div>

				<div class="clearfix visible-xs"></div>

				<div class="col-md-4 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">Information</h3>
						<ul class="footer-links">
							<li><a href="#">About Us</a></li>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Orders and Returns</a></li>
							<li><a href="#">Terms & Conditions</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /top footer -->

</footer>
<!-- /FOOTER -->

	<!-- jQuery Plugins -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/slick.min.js"></script>
	<script src="/js/nouislider.min.js"></script>
	<script src="/js/jquery.zoom.min.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/cookiee.js"></script>
	<script src="/js/wishlist.js"></script>

	<script src="/js/store_script.js"></script>
	<script src="/js/progressbar.js"></script>

	<script>
		
		move(4000)

	</script>



	<script>
		var max_limit = 7
		$('#show-more').click(function () {
			move(2500)
			max_limit = max_limit + 7
			getProducts('SPORTS%20AND%20HOBBIES', max_limit)
		})
	</script>



	<script>
		if ("<%=user.picture%>" != "") {
			$('#login').hide();
			$('#profile').show();
			$('#wishlist').show();
		}
		else {
			$('#login').show();
			$('#profile').hide();
			$('#wishlist').hide();
		}


		$('#filter').click(function () {
			$('#aside').show()
		})

		if ($(document).width() < 700) {
			$('#filter').show()

			$('#apply-filter').click(function () {
				$('#aside').hide()
			})
			$('#cancel-filter').click(function () {
				$('#aside').hide()
			})

		}

	</script>

	<script>
		$(document).ready(function(){
			let college_name = getCookie('college')
			console.log(college_name)
			if(!college_name){
				$('#pop-coll-modal').click()
			}
			else{
				$('#search').val(college_name)
				$('#coll-data').text(college_name)
				getProducts('SPORTS%20AND%20HOBBIES', max_limit)
			}

			$.get('/products/count/SPORTS%20AND%20HOBBIES?college='+ $('#search').val() ,function (count) {
				$('#total-qt').html(count)
			})
		})


		$('#search-btn').click(function (e) {
			move(2500)
			$.get('/products/count/SPORTS%20AND%20HOBBIES?college='+ $('#search').val() ,function (count) {
				$('#total-qt').html(count)
			})
			$('#coll-data').text($('#search').val())
			setCookie('college',$('#search').val() , 10)
			e.preventDefault()
			getProducts('SPORTS%20AND%20HOBBIES', max_limit)
		})

		$('#apply-filter').click(function(){
			getProducts('SPORTS%20AND%20HOBBIES', max_limit, $('form').serialize())
		})

	</script>

</body>

</html>