<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>COAD - Products</title>
	<link rel="icon" href="/img/favicon.png">
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="/css/slick.css" />
	<link type="text/css" rel="stylesheet" href="/css/slick-theme.css" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="/css/nouislider.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="/css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/css/style.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	<style>
		.dropdown-toggle{
			width: 50%;
		}

		.dropright{
			margin: 0px;
			padding-left: 0px;
			padding-right: 0px;
		}

	</style>


<script>
	function openForm(obj){
		window.location = '/post/add/electronics&appliances/'+obj;
	}
</script>

</head>

<body>
	<header>

		<!-- TOP HEADER -->
		<div id="top-header">
			<div class="container">
				<!-- <ul class="header-links pull-left">
					<li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
					<li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
					<li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
				</ul> -->
				<ul class="header-links">
					<li><a href="#"><i class="fa fa-map-marker"></i><span id="location"></span></a></li>
				</ul>
			</div>
		</div>
		<!-- /TOP HEADER -->
		<div class="progress">
			<div class="progress-bar progress-bar-striped" id="myBar" style="width:0%">
			</div>
		</div>

		<!-- MAIN HEADER -->
		<div id="header">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- LOGO -->
					<div class="col-md-3">
						<div class="header-logo">
							<a href="#" class="logo">
								<img src="/img/logo.png" alt="">
							</a>
						</div>
					</div>
					<!-- /LOGO -->

					<div id="coll-modal" class="modal fade" role="dialog">
						<div class="modal-dialog">
					  
						  <!-- Modal content-->
						  <div class="modal-content">
							<div class="modal-header">
							  <h4 class="modal-title">Select Your College</h4>
							</div>
							<div class="modal-body">

								<input class="input" autofocus autocomplete="off" id="search" placeholder="Select your college">
								<ul class="list-group col-12" style="position: absolute;z-index: 20;" id="searchResult"></ul>
								<div style="width: 100%;" class="text-center">
									<button class="search-btn" data-dismiss='modal' id="search-btn">Search</button>
								</div>

							</div>
						  </div>
					  
						</div>
					</div>
					<!-- SEARCH BAR -->
					<div class="col-md-6">
						<div class="college">
							<div class="college-name" id="pop-coll-modal" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#coll-modal">
								<span id="coll-data">-</span>  
								<span style="float: right;"><i class="fa fa-caret-down"></i></span>
							</div>
						</div>
					</div>
					<!-- /SEARCH BAR -->

					<!-- ACCOUNT -->
					<div class="col-md-3 clearfix">
						<div class="header-ctn">
							<!-- Login -->
							<div id="login">
								<a class="login-button" href="/auth/google">
									<i class="fa fa-google"></i>
									<span>Login</span>
								</a>
							</div>
							<!-- /Login -->

							<!-- Profile -->
							<div class="dropdown" id="profile">
								<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
									<img src="<%=user.picture%>"
										style='display: block; height: 40px;width: 40px;border-radius: 50%;'>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#">Profile</a></li>
									<li><a href="/api/logout">Logout</a></li>
								</ul>
							</div>
							<!-- /Profile -->

							<!-- Wishlist -->
							<div class="dropdown" id='wishlist'>
								<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
									<i class="fa fa-heart-o"></i>
									<span>Your Wishlist</span>
									<div class="qty"></div>
								</a>
								<div class="cart-dropdown">
									<div class="cart-list">
										
									</div>
								</div>
							</div>
							<!-- /Wishlist -->

							<!-- Menu Toogle -->
							<div class="menu-toggle">
								<a href="#">
									<i class="fa fa-bars"></i>
									<span>Menu</span>
								</a>
							</div>
							<!-- /Menu Toogle -->
						</div>
					</div>
					<!-- /ACCOUNT -->
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- /MAIN HEADER -->
	</header>
	<!-- /HEADER -->

	<!-- NAVIGATION -->
	<nav id="navigation">
		<!-- container -->
		<div class="container">
			<!-- responsive-nav -->
			<div id="responsive-nav">
				<!-- NAV -->
				<ul class="main-nav nav navbar-nav">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/store/electronics">Electronics & Appliances</a></li>
					<li><a href="/store/books">Books & Notes</a></li>
					<li><a href="/store/vehicles">Vehicles</a></li>	
					<li><a href="/store/sports">Sports & Hobbies</a></li>	
					<li><a href="/store/hotdeals">Hot Deals</a></li>
					<li><a href="#newsletter">Contact us</a></li>
				</ul>
				<!-- /NAV -->
			</div>
			<!-- /responsive-nav -->
		</div>
		<!-- /container -->
	</nav>
	<!-- /NAVIGATION -->


	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb-tree">
						<li><a href="/">Home</a></li>
						<li><a href="/post/add">All Categories</a></li>
						<li><a class="actv" href="/post/add/electronics&appliances">Electronics And Appliances</a></li>
					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->

	<!-- Post Menu -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<!-- section tab & slick -->
				<div class="col-md-12" id="post-ad">
					<h3 class="title">Electronics And Appliances</h3>
					<br>

					<div class="row">
						
						<div class="col-md-3 col-xs-4 sub-container">
							<div class="sub-box" onclick="openForm('Mobile')">
								<img src="../../img/sub-mobile.svg" alt="Avatar" class="sub-img">
								<h4>Mobile</h4>	
							</div>
						</div>
						<div class="col-md-3 col-xs-4 sub-container">
							<div class="sub-box" onclick="openForm('Laptop')">
								<img src="../../img/sub-laptop.svg" alt="Avatar" class="sub-img">
								<h4>Laptops</h4>	
							</div>
						</div>
						<div class="col-md-3 col-xs-4 sub-container">
							<div class="sub-box" onclick="openForm('Accessories')">
								<img src="../../img/sub-accessories.svg" alt="Avatar" class="sub-img">
								<h4>Accessories</h4>	
							</div>
						</div>
						<div class="col-md-3 col-xs-4 sub-container">
							<div class="sub-box" onclick="openForm('Speakers')">
								<img src="../../img/sub-speakers.svg" alt="Avatar" class="sub-img">
								<h4>Speakers</h4>	
							</div>
						</div>
						<div class="col-md-3 col-xs-4 sub-container">
							<div class="sub-box" onclick="openForm('Headphones')">
								<img src="../../img/sub-headphone.svg" alt="Avatar" class="sub-img">
								<h4>Headphones</h4>	
							</div>
						</div>
						<div class="col-md-3 col-xs-4 sub-container">
							<div class="sub-box" onclick="openForm('Other')">
								<img src="../../img/sub-ele-other.svg" alt="Avatar" class="sub-img">
								<h4>Other Item</h4>	
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- /Post Menu -->

	<!-- FOOTER -->
	<footer id="footer">
		<!-- top footer -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-4 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">About Us</h3>
							<p>Buy and Sell things among the hostlers.</p>
							<ul class="footer-links">
								<li><a href="#"><i class="fa fa-map-marker"></i>National Institute of Technology patna</a></li>
								<li><a href="#"><i class="fa fa-phone"></i>+91-877-055-3001</a></li>
								<li><a href="#"><i class="fa fa-envelope-o"></i>yashjanoria999@gmail.com</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-4 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Categories</h3>
							<ul class="footer-links">
								<li><a href="/store/hotdeals">Hot deals</a></li>
								<li><a href="/store/electronics">Laptops</a></li>
								<li><a href="/store/electronics">Smartphones</a></li>
								<li><a href="/store/electronics">Mobiles</a></li>
								<li><a href="/store/electronics">Accessories</a></li>
							</ul>
						</div>
					</div>

					<div class="clearfix visible-xs"></div>

					<div class="col-md-4 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Information</h3>
							<ul class="footer-links">
								<li><a href="#">About Us</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Orders and Returns</a></li>
								<li><a href="#">Terms & Conditions</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /top footer -->

	</footer>
	<!-- /FOOTER -->

	<!-- jQuery Plugins -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/slick.min.js"></script>
	<script src="/js/nouislider.min.js"></script>
	<script src="/js/jquery.zoom.min.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/cookiee.js"></script>
	<script src="/js/wishlist.js"></script>



	<script>
		$(document).ready(function(){
			let college_name = getCookie('college')
			console.log(college_name)
			if(!college_name){
				$('#pop-coll-modal').click()
			}
			else{
				$('#search').val(college_name)
				$('#coll-data').text(college_name)
			}	
		})
		$('#search-btn').click(function (e) {			
			$('#coll-data').text($('#search').val())
			setCookie('college',$('#search').val() , 10)
			e.preventDefault()
		})
		if ("<%=user.picture%>" != "") {
			$('#login').hide();
			$('#profile').show();
			$('#wishlist').show();
		}
		else {
			$('#login').show();
			$('#profile').hide();
			$('#wishlist').hide();
		}
	</script>

</body>

</html>